<!DOCTYPE html>
<html>
<head>
	<title>Flack - Channels</title>


	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

	<script>

	document.addEventListener('DOMContentLoaded', ()=>{

		var socket=io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		socket.on('connect', ()=>{

			document.querySelector('#button').onclick = () =>{
				msg = document.querySelector('#input').value;
				socket.emit('send_message', {'mensagem' : msg});
				document.querySelector('#input').value = '';
				return false;
			};
		});

		socket.on('broadcast_message', data =>{
			const li = document.createElement('li');
			li.innerHTML = data.mensagem;
			document.querySelector('ul').appendChild(li);


		});


	});



	</script>

	<style>
		#ChatBox{
			position:absolute;
			left:50%;
			transform:translateX(-50%);
			top:30%;
			width:40%;
			height:50%;
			background-color:LightGrey;
			border:solid DarkGrey;
			z-index:1;
		}

		#input{
			position:absolute;
			left:50%;
			transform:translateX(-50%);
			width:40%;
			top:83%;
		}
		#button{
			position:absolute;
			left:50%;
			transform:translateX(-50%);
			top:87%;

		}
	</style>
</head>
<body>
	{{x}}

	<div id='ChatBox'>
		<ul id:'lista'></ul>
	</div>


	<input type:'text' placeholder:'type your message' name:'message' autocomplete = 'off' id='input'></input>
	<button id='button'>Enviar</button>


</body>
</html>
