<!DOCTYPE html>
<html>
<head>
	<title>Flack - Channels</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="static/stylechannels.css">


	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script>
	var a = '{{x}}';
	var nome_user = a;
</script>
  <script type="text/javascript" src="static/channels.js"></script>


</head>
<body>

 	<button id='logout' class = 'btn btn-light'>Logout</button>

	<h3 id='Hi'>Hi {{x}}</h3>
	<div id='ChatBox'>
	</div>

	<input type:'text' placeholder:'type your message' name:'message' autocomplete = 'off' id='input'></input>
	<button id='button'>Enviar</button>

	<div id='room_selection'>
	</div>

	<div id='create_room'>
		<form>
			<input id='create_room_name' type='text' name='room_name' placeholder='Room Name'></input>
			<button id='create_room_button'>Create Room</button>
		</form>
	</div>


	<div id='theme_selection'> 
		<button type="button" class="btn btn-light theme" >Light</button>
		<button type="button" class="btn btn-warning theme">Summer</button>
		<button type="button" class="btn btn-dark theme">Dark</button>
	</div>

</body>
</html>
